<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="orangevelvet.androidblueprint.hilt" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BluePrintHiltApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hilt" >

        <activity
            android:name=".presentation.ui.main.activity.MainActivity"
            android:exported="true" >

            <nav-graph android:value="@navigation/nav_graph_main" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="orangevelvet.androidblueprint.hilt.main.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.account.activity.AccountActivity"
            android:exported="true">

            <nav-graph android:value="@navigation/nav_graph_account" />

            <intent-filter>
                <action android:name="orangevelvet.androidblueprint.hilt.account.open" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

    </application>

</manifest>